### Import Modules

In [83]:
import numpy as np
import pandas as pd

### Read the Data

In [59]:
df = pd.read_csv("../../Data/dft-road-casualty-statistics-casualty-provisional-mid-year-unvalidated-2022.csv")

### Showcase a Random Subset of Data

In [60]:
df.sample(10).T

,1712,27752,24223,41656,16084,25274,40106,11614,14336,11986
status,Unvalidated,Unvalidated,Unvalidated,Unvalidated,Unvalidated,Unvalidated,Unvalidated,Unvalidated,Unvalidated,Unvalidated
accident_index,2022361167539,2022991146941,2022010390694,2022231150141,2022302200447,2022302200458,2022221152474,2022440020935,2022531186010,2022401143290
accident_year,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022
accident_reference,361167539,991146941,010390694,231150141,302200447,302200458,221152474,440020935,531186010,401143290
vehicle_reference,2,2,2,1,1,1,2,2,2,2
casualty_reference,2,3,1,1,1,1,1,1,1,2
casualty_class,1,1,1,1,3,3,1,1,1,1
sex_of_casualty,1,1,1,1,2,1,2,1,1,1
age_of_casualty,68,61,60,28,41,33,31,26,51,20
age_band_of_casualty,10,9,9,6,7,6,6,6,8,4
casualty_severity,3,3,3,2,3,3,2,3,3,3
pedestrian_location,0,0,0,0,5,9,0,0,0,0
pedestrian_movement,0,0,0,0,1,5,0,0,0,0
car_passenger,0,0,0,0,0,0,0,0,0,0
bus_or_coach_passenger,0,0,0,0,0,0,0,0,0,0
pedestrian_road_maintenance_worker,0,0,0,0,0,0,0,0,0,0
casualty_type,9,9,1,9,0,0,9,1,97,9
casualty_home_area_type,2,-1,1,1,1,1,3,1,1,1
casualty_imd_decile,5,-1,1,8,2,3,5,8,6,10
lsoa_of_casualty,E01026745,-1,E01000602,E01010192,E01013565,E01019759,E01014055,E01022762,E01022341,E01023436

### Inspect Data Info

- There are 61352 sample data in the dataset.
- As you can see there is no non-null data.
- There are 2 types of data: int64, and object.

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61352 entries, 0 to 61351
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   status                              61352 non-null  object
 1   accident_index                      61352 non-null  object
 2   accident_year                       61352 non-null  int64
 3   accident_reference                  61352 non-null  object
 4   vehicle_reference                   61352 non-null  int64
 5   casualty_reference                  61352 non-null  int64
 6   casualty_class                      61352 non-null  int64
 7   sex_of_casualty                     61352 non-null  int64
 8   age_of_casualty                     61352 non-null  int64
 9   age_band_of_casualty                61352 non-null  int64
 10  casualty_severity                   61352 non-null  int64
 11  pedestrian_location                 61352 non-null  int64
 12  pedestrian_movement                 61352 non-null  int64
 13  car_passenger                       61352 non-null  int64
 14  bus_or_coach_passenger              61352 non-null  int64
 15  pedestrian_road_maintenance_worker  61352 non-null  int64
 16  casualty_type                       61352 non-null  int64
 17  casualty_home_area_type             61352 non-null  int64
 18  casualty_imd_decile                 61352 non-null  int64
 19  lsoa_of_casualty                    61352 non-null  object
dtypes: int64(16), object(4)
memory usage: 9.4+ MB

### Describe the Numerical Columns

In [62]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
accident_year,61352.0,2022.000000,0.000000,2022.0,2022.0,2022.0,2022.0,2022.0
vehicle_reference,61352.0,1.450368,1.109855,1.0,1.0,1.0,2.0,227.0
casualty_reference,61352.0,1.333779,0.981507,1.0,1.0,1.0,1.0,148.0
casualty_class,61352.0,1.482299,0.735614,1.0,1.0,1.0,2.0,3.0
sex_of_casualty,61352.0,1.368790,0.534536,-1.0,1.0,1.0,2.0,9.0
age_of_casualty,61352.0,36.670312,19.574357,-1.0,22.0,34.0,50.0,101.0
age_band_of_casualty,61352.0,6.288157,2.463082,-1.0,5.0,6.0,8.0,11.0
casualty_severity,61352.0,2.783039,0.442318,1.0,3.0,3.0,3.0,3.0
pedestrian_location,61352.0,0.800316,2.197167,0.0,0.0,0.0,0.0,10.0
pedestrian_movement,61352.0,0.645325,2.009611,0.0,0.0,0.0,0.0,9.0
car_passenger,61352.0,0.222047,0.615127,-1.0,0.0,0.0,0.0,9.0
bus_or_coach_passenger,61352.0,0.048507,0.426419,-1.0,0.0,0.0,0.0,9.0
pedestrian_road_maintenance_worker,61352.0,0.032860,0.261327,-1.0,0.0,0.0,0.0,2.0
casualty_type,61352.0,9.475160,16.662727,-1.0,1.0,9.0,9.0,98.0
casualty_home_area_type,61352.0,1.091032,0.903365,-1.0,1.0,1.0,1.0,3.0
casualty_imd_decile,61352.0,4.337674,3.158496,-1.0,2.0,4.0,7.0,10.0

 ### Describe the Categorical Columns

In [63]:
df.describe(include=['object']).T

                    count unique            top   freq
status              61352      1    Unvalidated  61352
accident_index      61352  48283  2022010356595     16
accident_reference  61352  48283      010356595     16
lsoa_of_casualty    61352  23841             -1   8027

### To Find out the Relation between "age_of_casualty" and "age_band_of_casualty

|Age Band|1|2|3|4|5|6|7|8|9|10|11|
|-|-|-|-|-|-|-|-|-|-|-|-|
|Age Interval|0-5|6-10|11-15|16-20|21-25|26-35|36-45|46-55|56-65|66-75|76-120|

In [147]:
def age_band(age):
    if age == -1:
        return -1
    elif age == 0:
        return 1
    elif age <= 25:
        return np.ceil(age / 5)
    elif age <= 75:
        return np.ceil((age - 25) / 10) + 5
    else:
        return 11


min_age = 6
max_age = 10
print(f"min_age {min_age:2} is in the age band {age_band(min_age)}")
print(f"max_age {max_age:2} is in the age band {age_band(min_age)}")

# Filtering the DataFrame
filtered_df = df[(df['age_of_casualty'] >= min_age) & (df['age_of_casualty'] <= max_age)]

# Displaying the filtered DataFrame
filtered_df[['age_of_casualty', 'age_band_of_casualty']]

min_age  6 is in the age band 2.0
max_age 10 is in the age band 2.0

       age_of_casualty  age_band_of_casualty
26                   7                     2
179                 10                     2
184                  8                     2
197                  8                     2
198                  8                     2
...                ...                   ...
61220                8                     2
61263               10                     2
61264                8                     2
61290                7                     2
61293                9                     2

[1575 rows x 2 columns]

### To check the accuracy of "age_band" fucntion

In [148]:
results = df["age_of_casualty"].apply(age_band) == df["age_band_of_casualty"]
accuracy = results.sum() / len(results) * 100
print(f"Function is working with {accuracy} % accuracy!")

Function is working with 100.0 % accuracy!

### The "status" and "accident_year" are Constant

In [167]:
# To check the number of unique years and statuses in the data
all_years = df["accident_year"].unique()
all_statuses = df["status"].unique()
print(f"There is only {len(all_years)} year and it is '{all_years[0]}'")
print(f"There is only {len(all_statuses)} status and it is '{all_statuses[0]}'")

There is only 1 year and it is '2022'
There is only 1 status and it is 'Unvalidated'

### Realtion between "accident_index" and "accident_reference"

#### accident_index = "accident_year"+"accident_reference"

In [176]:
results = df["accident_index"].astype(str) == df["accident_year"].astype(str) + df["accident_reference"].astype(str)
validation_accuracy = results.sum() / len(results) * 100
print(f"This relation is {validation_accuracy} % valid")

This relation is 100.0 % valid

### Unuseful / Redundant Columns
So based on what we said till now we have some unusful / redundant columns:
- status
- accident_index
- accident_year
- age_band_of_casualty

In [177]:
unuseful_columns = ["status", "accident_index", "accident_year", "age_band_of_casualty"]

### Analyse "casualty_type"

In [287]:
casualty_types = sorted(df['casualty_type'].unique().tolist())
casualty_types.remove(-1)  # to remove -1 from data types
print(f"There are {len(casualty_types)} casualty types\n")
print(f"These casualty types are:\n{casualty_types}\n")

casualty_types_info = {}
for casualty_type in casualty_types:
    results = df['casualty_type'] == casualty_type
    count = results.sum()
    percentage = round(count / len(results) * 100, 2)
    casualty_types_info[casualty_type] = {"count": count, "percentage": percentage}

sorted_results = dict(sorted(casualty_types_info.items(), key=lambda item: list(item[1].values())[0], reverse=True))

for casualty_type, info in sorted_results.items():
    print(f"{info['percentage']:5} % of casualties are of type {casualty_type:2}")

There are 21 casualty types

These casualty types are:
[0, 1, 2, 3, 4, 5, 8, 9, 10, 11, 16, 17, 18, 19, 20, 21, 22, 23, 90, 97, 98]

53.32 % of casualties are of type  9
14.57 % of casualties are of type  0
11.66 % of casualties are of type  1
 5.92 % of casualties are of type  3
 2.92 % of casualties are of type  5
 2.36 % of casualties are of type 19
 1.58 % of casualties are of type 11
  1.4 % of casualties are of type 97
 1.35 % of casualties are of type 90
 1.34 % of casualties are of type  4
 1.14 % of casualties are of type  8
 0.68 % of casualties are of type 98
 0.67 % of casualties are of type  2
 0.29 % of casualties are of type 21
 0.21 % of casualties are of type 23
 0.18 % of casualties are of type 22
 0.16 % of casualties are of type 10
 0.12 % of casualties are of type 20
 0.06 % of casualties are of type 16
 0.05 % of casualties are of type 17
 0.01 % of casualties are of type 18

In [220]:
home_area_types = sorted(df['casualty_home_area_type'].unique().tolist())
home_area_types.remove(-1)  # to remove -1 from data types
print(f"There are {len(home_area_types)} casualty home area types")
print(f"These casualty home area types are:\n{home_area_types}")

There are 3 casualty home area types
These casualty home area types are:
[1, 2, 3]

In [219]:
casualty_imd_deciles = sorted(df['casualty_imd_decile'].unique().tolist())
casualty_imd_deciles.remove(-1)  # to remove -1 from data types
print(f"There are {len(casualty_imd_deciles)} casualty imd deciles")
print(f"These casualty imd deciles are:\n{casualty_imd_deciles}")

There are 10 casualty imd deciles
These casualty imd deciles are:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]